{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}




{% block content %}
    <div style="text-align: center;margin-bottom: 60px"> <h3> Please provide feedback to SmartBaker Company </h3></div>


    <center>

        <div style="margin-bottom:60px">{% formfield player.c_feel %}</div>

    {% next_button %} </center>









{% endblock %}
<!--
    <p class="text-center mt-5 ">
            Please enter the following code to get your payment. It will be processed within a week.
    </p>
    <p class="text-center" style="font-weight: 600; font-size: 15pt"> Your code:</p>
    <p class="text-center" id="code" style="font-size:14pt"> </p>

    <script>

    document.getElementById("code").innerText = Math.random().toString(36).substr(2, 5)
    </script>
-->
