{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}




{% block content %}

    <!--<div style="text-align: center;"> <h4> Participant Demographics </h4></div> -->
    <center><h4>Survey</h4></center>
    <div style="text-align: left; font-size: 13pt; margin-top: 60px">
        <p> <strong> You completed the simulation. We would like to get your opinion in the next few pages.
        <br> Please fill out the information below. </strong></p>
    </div>

{% formfields  %}

    {% next_button %}





{% endblock %}
