{% load otree static %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="card bg-light">
    <div class="container" style="text-align:center">
        <center><div class="row justify-content-center" style="padding-top: 30px; width:360px">
            <div class="col">
                <input type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#myCollapsible" value="Instructions">
            </div>
            <div class="col">
                <input type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#myCollapsible2" value="Profit Analysis">
            </div>
        </div></center>
        <div class="row" style="padding-top:20px">
            {% if round == 1 %}
                <div id="myCollapsible" class="collapse in show" style="text-align:left; padding-left: 30px; padding-right: 30px">
            {% else %}
                <div id="myCollapsible" class="collapse" style="text-align:left; padding-left: 30px; padding-right: 30px">
            {% endif %}
                <hr>
                <h5 style="text-align:center; padding-bottom: 10px">Instructions:</h5>
            <p style="padding: 0px">
                In this business simulation, you will be the manager of a small bakery.
                Every evening, as a manager, you order loaves of bread from your supplier to sell them on the next day.
                The demand for the bread is <u><strong>uncertain</strong></u> and it fluctuates <u><strong>independently</strong></u> from day to day.
                Historically, the demand was as low as 0 and as high as 300 loaves of bread a day.
                Any unsold bread will be thrown away at the end of each day.
                Your objective is to <strong> maximize your cumulative profit</strong>
                for the <strong>next {{ total_rounds }} days.</strong>
            </p>
            </div>

            {% if round == 1 %}
                <div id="myCollapsible2" class="collapse in show" style="text-align:left; padding-left: 30px; padding-right: 30px">
            {% else %}
                <div id="myCollapsible2" class="collapse" style="text-align:left; padding-left: 30px; padding-right: 30px">
            {% endif %}
             <hr>
            <h5 style="text-align:center; padding-bottom: 0px">Profit Analysis:</h5>
             <p style="padding-top: 0px; text-align:left">
                <strong> You can calculate your profit using the formula below:</strong> </p>

                <div style="font-size:12pt; text-align:center">(Unit selling price (={{Constants.sale_price| c}}) x Amount sold) - (=Unit purchase cost ({{Constants.cost | c}}) x Amount ordered)</div>
            </p>


        <p style="padding-top: 10px">
            Amount sold is determined by how many loaves of bread you ordered and the demand for that day.<br>
            If the demand is less than the amount ordered, you will pay for bread that you need to throw away.<br>
            For every loaf of bread you throw away, you will lose <strong> {{Constants.cost | c}} </strong> (Unit purchase cost). <br>
            <br>
            If the demand is more than the amount ordered, you will miss the opportunity to sell more and make more profit.<br>
            Opportunity cost of not selling a single loaf of bread is
            <strong> {{Constants.sale_price |c }} - {{Constants.cost |c }} = 1 E$ </strong> (=Unit selling price - Unit purchase cost).
        </p>
            </div>

        </div>
        <!--
                {%  if round == 1 %}
                    <hr>

                    <div style="text-align: center;padding-bottom:10px"><u><strong><s>Additional demand information for the first round:</s></strong></u>
                    </div>
                    <p style="text-align:left">
                            <s>You can find the historical demand information in the graph below
                                to guide you when you make your first order decision.
                                There is no seasonality or pattern in the data.</s>
                    </p>
                {% endif %}
                -->
            </div>
        </div>
    </div>


<!--


            -------<br>



            how many breads you should produce by analyzing your previous sales.
                You purchased a software which helps you to maximize your long-term profit.
                The software uses an artificial intelligence algorithm and uses your past sales data to recommend you how many loaves you should produce for the next day.
                Based on sales, it proactively adjusts its recommendation and the recommendation from the algorithm gets more accurate in time.



            <p>
                In this business simulation, you will be representing an artisan bakery focusing on making handmade artisan breads.
                You are producing your artisan breads during the night and selling it during the day.
                You have to determine how many breads to produce before you start selling.
                However, the demand for the bread is <u><strong>uncertain</strong></u>. <br>
                Every unsold bread goes to waste at the end of the day.<br>

            </p>
            <p>
                During the last month, you were focusing on serving as many customer as possible.
                Therefore, you were producing way more than what your demand was (Sales were not limited by the number of loaves you were producing).
                However, you realized that producing a lot more is not the best way to maximize your profit.
                Now, you decided to focus on maximizing your profit by decreasing your cost.
                Your objective is to <strong> maximize this month's (next 30 days') cumulative profit in this simulation.</strong>
            </p>

            <p>
                <u><strong>Artificial Intelligence (A.I.) Algorithm support:</strong></u><br>
                In order to increase your profit, you purchased a sophisticated algorithm that recommends you
                how many breads you should produce by analyzing your previous sales.
                You purchased a software which helps you to maximize your long-term profit.
                The software uses an artificial intelligence algorithm and uses your past sales data to recommend you how many loaves you should produce for the next day.
                Based on sales, it proactively adjusts its recommendation and the recommendation from the algorithm gets more accurate in time.
            </p>


            <p><u><strong>Price Analysis:</strong></u><br>
                - Each artisan bread costs you  ${{ Constants.cost }}/loaf to make.<br>
                - You sell each artisan bread for ${{ Constants.sale_price }}/loaf.
            </p>

            <p><u><strong>Profit Analysis:</strong></u><br>
                In any given day, you might either <i>stock-out</i> or have breads you <i>throw-away</i> due to the demand uncertainty.<br>
                In case of stock-out, your profit will be: <br>

                <p><strong>&emsp; Case (Stock-out):</strong> &emsp;&emsp;
                Your profit = (Unit Selling price - Unit cost) x (Number of breads produced)</p>
            </p>
            <p>
                 On the other hand, in case where you have some breads left at the end of the day that go to waste, your profit will be:<br>
                 <p><strong>&emsp;Case (Thrown-away):</strong>   &nbsp;
                Your profit = (Unit Selling price x Demand) - (Unit cost x Number of breads produced)</p>
            </p>

            <p>
                <u><strong>Additional demand information for the first round:</strong></u><br>
                You can find the historical demand information in the graph below to guide you when you make your first order decision.
                <strong>From the second day and on, historical demand data will not be available to you.</strong><br>

            </p>
            -->


<!--<center><p style="color:red">Historical Demand??</p></center>-->
