{% extends "global/Page.html" %}
{% load otree static %}




{% block content %}
    <h4>Simulation Settings</h4>
    {% include Constants.instructions_template %}

    <!--
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 my-2 ml-3" style="text-align: center; background-color: white">
           <img src="https://i.imgur.com/o2wznL5.png" width="100%"/>
        </div>
-->

    {% if True %}
        <div class="text mt-1" style="text-align: center;">
        <p class="text my-2" id="end_info_text" style="font-weight: bold">After this, the demo rounds will start. </p>
        <button class="otree-btn-next btn btn-primary center" id="Info_button" disabled>Move to the Demo Rounds</button>
        </div>
    {% else %}
        <div class="text mt-1" style="text-align: center;">
        <p class="text my-2" id="end_info_text" style="font-weight: bold"> After this, the simulation rounds will start. </p>
        <button class="otree-btn-next btn btn-primary center" id="Info_button">Move to the Simulation </button>
        </div>
    {% endif %}

 <script>
        var sec = {{ Constants.wait_game }};
        var own = document.getElementById("Info_button");

        window.onload = countDown;

        function countDown() {
          if (sec < 100) {
              own.innerHTML = "Submit (" + sec + " sec)";
          }
          else {
              own.innerHTML = "Submit";
          }
          if (sec <= 0) {

              own.disabled = false;
              own.innerHTML = "Submit";

            return;
          }
          sec -= 1;
          window.setTimeout(countDown, 1000);
        }
    </script>


{% endblock %}

