

</head>

<body lang=EN-US link=blue vlink=purple style='word-wrap:break-word'>

<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><b>INFORMATION SHEET</b></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='color:black'>            </span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='color:black'>The Effect of Decision Support Systems on Complex
Decision-Making Processes</span></b></p>

<p class=Default align=center style='text-align:center'>&nbsp;</p>

<p class=Default align=center style='text-align:center'><b>Principal Investigator</b>
– Onur Altintas, </p>

<p class=Default align=center style='text-align:center'><i>PhD Candidate in
Information Systems at Boston University</i></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='color:black'>&nbsp;</span></p>

<p class=Default align=center style='text-align:center'><b>Co-Investigator </b>–
Prof. Abraham Seidmann, </p>

<p class=Default align=center style='text-align:center'><i>The Everett W. Lord
Distinguished Faculty Scholar of Information Systems at Boston University</i></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>This form describes a research
study that is being conducted by Onur Altintas<span class=msoIns>, a PhD Candidate</span>
from Boston University and<span class=msoIns> his Faculty Advisor,</span> Professor
Abraham Seidmann. Onur Altintas can be reached at <a href="mailto:onura@bu.edu">onura@bu.edu</a>
and Professor Abraham Seidmann can be reached at <a href="mailto:avis@bu.edu">avis@bu.edu</a>. 
  </p>

<p class=MsoNormal style='text-align:justify'>The purpose of this study is to
investigate the effect of decision support systems on decision processes in the
newsvendor setting.</p>


<p class=MsoNormal style='text-align:justify'><span class=msoIns>We are asking you to
take part in this study because you have </span>completed at least
one statistics course in college. </p>


<p class=MsoNormal style='text-align:justify'><span style='color:black'>If you
decide to take part in this study, you will be asked to
take part in the business simulation that will take about 30
minutes. </span>We estimate that approximately 30 people
will take part in this study. </p>

<p class=MsoNormal style='text-align:justify'>There is no physical risk in this
study. You might get tired during the tasks. You can rest at any time. Some of
the survey questions may be upsetting or make you feel uncomfortable. You can
skip any of the questions you do not want to answer. We will not collect and
store any directly identifiable information about you with your survey
responses. All of the information we collect will be stored on
an encrypted hard disk and/or an encrypted cloud drive. Only the members of the
research team will have access to it.</p>


<p class=MsoNormal style='text-align:justify'><b>Loss of Confidentiality</b></p>

<p class=MsoNormal style='text-align:justify'>The main risk of
allowing us to use and store your information for research is a potential loss
of privacy.  We will protect your privacy by not collecting your name
or identifiable information</p>

<p class=MsoNormal style='text-align:justify'>There are no expected benefits.</p>


<p class=MsoNormal style='text-align:justify'>You will be paid $10
for completing the study. Also,additional payment will be made based on your performance in the simulation
part of the study. This additional payment will be between $0 and $15.
There will be no cost to you to participate in this study. </p>


<p class=MsoNormal style='text-align:justify'>Your participation in this study is
completely voluntary.  You are free not to participate or to withdraw at any
time, for whatever reason.  No matter what decision you make, there will be no
penalty or loss of benefits to which you are otherwise entitled. </p>


<p class=MsoNormal><b>How Will You Keep My Study Records Confidential?</b></p>

<p class=MsoNormal style='text-align:justify'>We will make every
effort to keep your records confidential. However, there are times when
federal or state law requires the disclosure of your records.</p>


<p class=MsoNormal style='text-align:justify'>The following people
or groups may review your study records for purposes such as quality control or
safety:</p>

<p class=MsoListParagraphCxSpFirst style='margin-left:.25in;text-align:justify;
text-indent:-.25in'><span style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class=msoIns><ins cite="mailto:Thomas,%20Laneia"
datetime="2021-02-22T15:13">The Researcher and any member of their research
team</ins></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:.25in;text-align:justify;
text-indent:-.25in'><span style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class=msoIns><ins cite="mailto:Thomas,%20Laneia"
datetime="2021-02-22T15:13">The Institutional Review Board at Boston
University. The Institutional Review Board is a group of people who review
human research studies for safety and protection of people who take part in the
studies.</ins></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:.25in;text-align:justify;
text-indent:-.25in'><span style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class=msoIns><ins cite="mailto:Thomas,%20Laneia"
datetime="2021-02-22T15:13">The sponsor or funding agency for this study</ins></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:.25in;text-align:justify;
text-indent:-.25in'><span style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class=msoIns><ins cite="mailto:Thomas,%20Laneia"
datetime="2021-02-22T15:13">Federal and state agencies that oversee or review
research</ins></span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:.25in;text-align:justify;
text-indent:-.25in'>·Central University Offices </p>


<p class=MsoNormal style='text-align:justify'><span class=msoIns>
cite="mailto:Thomas,%20Laneia" datetime="2021-02-22T15:13">The results of this
research study may be published or used for teaching. </span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><span style='text-align:justify'>If you
have questions about your rights as a research participant, or if you have any
complaints or concerns and want to speak with someone independent of the
research team, you may contact the Boston University Charles River Campus IRB
at 617-358-6115. The <a href="https://www.bu.edu/researchsupport/compliance/human-subjects/research-participation/">IRB
Office webpage</a> has information where you can learn more about being a
participant in research, and you can also complete a Participant Feedback
Survey.</span></p>

</div>

</body>

</html>
