{% load otree static %}

<div class="card bg-light mb-2">
    <div class="card-body pt-4" style="font-size:12pt">
        <p align="center">
            <strong> </strong>
        </p>
        <p align="center" style="font-size:14pt">
            <strong>
                The Effect of Information on Complex Decision Making Process
            </strong>
        </p>
        <p align="center ">
            <strong>Principal Investigator :</strong> Onur Altintas
        </p>
        <p align="center" style="font-size:11.5pt">
            PhD Candidate in Information Systems at Boston University
        </p>
        <p align="center">
            <strong>Sub-Investigator :</strong> Prof. Abraham Seidmann
        </p>
        <p align="center" style="font-size:11.5pt">
            The Everett W. Lord Distinguished Faculty Scholar <br> of Information Systems at Boston University
        </p>

        <p>
            <strong> </strong>
        </p>

        <p>This form describes a research study that is being conducted by Onur Altintas,
            a PhD Candidate from Boston University and his Faculty Advisor, Professor Abraham Seidmann.
            Onur Altintas can be reached at onura@bu.edu and Professor Abraham Seidmann can be reached at avis@bu.edu.</p>

        <p><strong>Purpose:</strong> <br>
            The purpose of this study is to investigate the effect of decision support systems on decision processes
            in the newsvendor setting. We are asking you to take part in this study because you have completed
            at least one statistics course in college.
        </p>
        <p><strong>Duration:</strong> <br>
            If you decide to take part in this study, you will be asked to make decisions in a simulation
            that will take about {{ duration }} minutes.
        </p>
        <p><strong>Risks and Benefits:</strong> <br>
            There is no physical risk in this study. You might get tired during the tasks. You can rest at any time.
            Some of the survey questions may be upsetting or make you feel uncomfortable.
            You can skip any of the questions you do not want to answer. There are no expected benefits.
        </p>

        <p><strong>Loss of Confidentiality:</strong> <br>
            We will not collect and store any directly identifiable information about you with your survey responses.
            All of the information we collect will be stored on an encrypted hard disk and/or an encrypted cloud drive.
            Only the members of the research team will have access to it.
        </p>

        <p><strong>Payment:</strong> <br>
            You will be paid {{ participation_pay }} USD for completing the study.
            There will be no cost to you to participate in this study.
            Also, you will get additional payment based on your performance.
            The monetary amounts represented in the study will be <em>experimental dollars</em> (denoted by E$).
            At the conclusion of the study, the experimental dollars you earn will be converted to dollars
            at a rate of {{ rate }} E$ per $1 US dollar (USD).
        </p>

          <p>
            <strong>Your participation in this study is completely voluntary</strong>.
            Your participation in this study is completely voluntary.
            You are free not to participate or to withdraw at any time, for whatever reason.
            No matter what decision you make, there will be no penalty or loss of benefits to which you are otherwise entitled.
        </p>


        <p>
            <strong>How Will You Keep My Study Records Confidential? </strong><br>
            We will make every effort to keep your records confidential.
            However, there are times when federal or state law requires the disclosure of your records.
            <p> The following people or groups may review your study records for purposes such as quality control or safety:
        <li>The Researcher and any member of their research team.</li>
        <li>The Institutional Review Board at Boston University.
            The Institutional Review Board is a group of people who review human research studies
            for safety and protection of people who take part in the studies.</li>
        <li>The sponsor or funding agency for this study.</li>
        <li>Federal and state agencies that oversee or review research.</li>
        <li>Central University Offices</li>
        </p>

        <p>The results of this research study may be published or used for teaching. </p>

        <p>If you have questions about your rights as a research participant,
            or if you have any complaints or concerns and want to speak with someone independent of the research team,
            you may contact the Boston University Charles River Campus IRB at 617-358-6115.
            <a href="https://www.bu.edu/researchsupport/compliance/human-subjects/research-participation/">
                The IRB Office webpage</a> has information where you can learn more about being a participant in research,
            and you can also complete a Participant Feedback Survey. </p>
    </div>
</div>
