{% load otree static %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h5 style="text-align:center; padding-bottom: 0px">Instructions:</h5>
        <p style="padding: 0px">
            In this business simulation, you will be the manager of a small bakery.
            Every evening, as a manager, you order loaves of bread from your supplier to sell them on the next day.
            The demand for the bread is <u><strong>uncertain</strong></u> and it fluctuates <u><strong>independently</strong></u> from day to day.
            Historically, the demand was as low as 0 and as high as 300 loaves of bread a day.
            Any unsold bread will be thrown away at the end of each day.

            Your objective is to <strong> maximize your cumulative profit</strong>
            for the <strong>next {{ total_rounds }} days.</strong>
        </p>
        <hr>
          <h5 style="text-align:center">Business Parameters:</h5>
        <div style="font-size:13pt; text-align: center">Unit selling price (The amount your customers pay you per loaf): &nbsp; <b>{{ Constants.sale_price | c }} </b>
        </div>

        <div style="font-size:13pt; text-align:center">&nbsp;Unit purchase cost (The amount you pay your supplier per loaf): &nbsp; <b> {{ Constants.cost | c  }}  </b>
        </div>

            <hr>
            <h5 style="text-align:center; padding-bottom: 0px">Profit Analysis:</h5>
             <p style="padding-top: 0px; text-align:left">
                <strong> You can calculate your profit using the formula below:</strong> </p>

                <div style="font-size:12pt; text-align:center">(Unit selling price (={{Constants.sale_price| c}}) x Amount sold) - (Unit purchase cost (={{Constants.cost | c}}) x Amount ordered)</div>
            </p>


        <p style="padding-top: 10px">
            Amount sold is determined by how many loaves of bread you ordered and the demand for that day.<br>
            If the demand is less than the amount ordered, you will pay for bread that you need to throw away.<br>
            For every loaf of bread you throw away, you will lose <strong> {{Constants.cost | c}} </strong> (Unit purchase cost). <br>
            <br>
            If the demand is more than the amount ordered, you will miss the opportunity to sell more and make more profit.<br>
            Opportunity cost of not selling a single loaf of bread is
            <strong> {{Constants.sale_price |c }} - {{Constants.cost |c }} = 1 E$ </strong> (=Unit selling price - Unit purchase cost)

        </p>

</div>
</div>
</div>