{% load otree static %}

<div class="card bg-light mb-2">
    <div class="card-body pt-4">

        <div class="text" style="font-size:13pt">
            <h5 class="text mb-4" style="text-align: center"> Thank you for your interest in our study !</h5>

            <p> In this study, you will pretend to be a manager of a small bakery. Your goal will be to maximize your total
                profit by deciding how many breads to order from your supplier every day (round) for the next {{ total_rounds }} days (rounds). </p>

            <p>This study will help us learn more about the use of information provided by an algorithm in a complex business setting.
            We expect the study to take around {{ duration }} minutes to complete. You may exit the study at any time for any reason. </p>

            <p>
                <strong><u>Here is the brief overview of the study: </u> </strong><br>
            <ul>
            <li>Information Sheet</li>
            <li>Detailed Explanation of the study</li>
            <li>Demo Rounds ({{ demo_rounds }} Rounds)</li>
            <li>Simulation ({{ total_rounds }} Rounds) </li>
            <li>Survey</li>
            </ul>
            </p>

            <p></p>

             <p>The decision you make in each round affects how much money you earn.
                 Therefore, <i>please pay attention when you are making decision</i>. You'll be asked to go over the
                 history of your decisions for at least 15 seconds after every 5 rounds.
                 The monetary amounts represented in the study is <em>experimental dollars</em> (denoted by E$).
                 You will also be paid {{ participation_pay }} USD for the completion of the study.</p>

            <p>
                 Additionally, the experimental dollars you earn during the simulation will
                 be converted to dollars (USD) at the end of the study with the rate of {{ rate |c  }} to 1 USD.
                 In this study, you can earn up performance bonus based on your performance.</p>

            <p>
                There will be multiple tests throughout the study. Please pay attention.
                Your bonus will be affected by the answer you give to those questions.
            </p>




            <!--<p>
                 <br>In the next page,
                 you will be welcomed by the full consent form which we already sent you as an email. <br>
                Please read the consent form carefully. Your consent is necessary for you to participate in this study.</p> -->

        </div>
    </div>
</div>
<!--Any information will be stored in a way that it will be unidentifiable.
            For any questions, please contact the investigator (Onur Altintas).-->
