{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}




{% block content %}
    <!--<div style="text-align: center;"> <h4> Participant Demographics </h4></div> -->
 <h3>Please answer the following questions</h3>

    <div style="padding:30px">

    </div>

{% formfield player.attention_model_cost %}


    <div style="padding:30px">

    </div>

    {% formfield player.attention_demand %}


    <div style="padding:30px">

    </div>


    {% next_button %}







{% endblock %}
<!--
    <p class="text-center mt-5 ">
            Please enter the following code to get your payment. It will be processed within a week.
    </p>
    <p class="text-center" style="font-weight: 600; font-size: 15pt"> Your code:</p>
    <p class="text-center" id="code" style="font-size:14pt"> </p>

    <script>

    document.getElementById("code").innerText = Math.random().toString(36).substr(2, 5)
    </script>
-->
