{% extends "global/Page.html" %}
{% load otree static %}



{% block content %}

    <h3> Test: How BakerAI works </h3>
    <i>Please choose the option you think that is correct.</i>
    <hr>

    <div class="container">
    <div class="row mb-4">
        <div class="text">
            Assume that BakerAI recommends 80 loaves for Day 2 and the actual demand for Day 2 was 30 loaves.
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <table class="table table-condensed table-bordered">
                <thead>
                <tr align="center">
                    <th scope="col" style="vertical-align:center">Day</th>
                    <th scope="col"  >BakerAI's<br>Advice</th>
                    <th scope="col" >Actual <br> Demand</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center">
                    <td>2</td>
                    <td>80 loaves</td>
                    <td>30 loaves</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% formfield player.treatment_test1 %}
    </div>
    <hr>
    <div class="container">
    <div class="row ">
        <div class="text mb-4">
            Now assume, BakerAI recommends 220 loaves for Day 5 and the actual demand for Day 5 was 280 loaves.
            </div>
    </div>
        <div class="row justify-content-center">
            <div class="col col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <table class="table table-condensed table-bordered">
                    <thead>
                    <tr align="center">
                    <th scope="col" style="vertical-align:center">Day</th>
                    <th scope="col" >BakerAI's<br>Advice</th>
                    <th scope="col" >Actual <br> Demand</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center">
                        <td>5</td>
                        <td>220 loaves</td>
                        <td>280 loaves</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% formfield player.treatment_test2 %}
    </div>
<hr>
<div class="text mt-3" style="text-align: center;">
        <p class="text my-5" id="end_demo_text" style="font-weight: bold">After answering these questions,
            we will move back to the simulation.</p>
        <button class="otree-btn-next btn btn-primary center" id="Demo_button">Continue to Day {{wo_ai_rounds1}}</button>
    </div>

{% endblock %}

