{% extends "global/Page.html" %}
{% load otree static %}



{% block content %}
<style>
    .otree-timer {
        display:none;
    }
</style>

    <div class="text-center mb-1" style="font-size:22pt; font-weight:bold"> Order for Day {{ round }} (out of {{ last_round }} Days) </div>
    {% include Constants.instructions_template_a2 %}
      <div class="card p-3">
          <h5 style="text-align:center">Business Parameters:</h5>
        <div style="font-size:13pt; text-align: center">Unit selling price (The amount your customers pay you per loaf): &nbsp; <b>{{ Constants.sale_price | c }} </b>
        </div>

        <div style="font-size:13pt; text-align:center">&nbsp;Unit purchase cost (The amount you pay your supplier per loaf): &nbsp; <b> {{ Constants.cost | c  }}  </b>
        </div>
      </div>

        <div class="row justify-content-around mt-3" style="padding-bottom:30px">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="text-left" style="margin-left:10px"> I would like to order:</div>
                <div class="input-group">
                  <input type="integer" class="form-control" autofocus="true" placeholder="Please enter your quantity" aria-label="order_label" name="orderquantity" id="input-oq">
                    <div class="input-group-append">
                        <button class="btn btn-primary" onclick="enter_order()" id="order_button" disabled>Submit</button>
                    </div>
                    {%  if form.orderquantity.errors %}
                        <div class="text" style="color:red"> Please enter an integer value between [0-800].</div>
                    {% endif %}
                </div>
            </div>
        </div>

    <hr>

    <!--# Timer Script-->
    <script>
        var sec = {{ Constants.wait_game }};
        var own = document.getElementById("order_button");

        window.onload = countDown;

        function countDown() {
          if (sec < 100) {
              own.innerHTML = "Submit (" + sec + " sec)";
          }
          else {
              own.innerHTML = "Submit";
          }
          if (sec <= 0) {

              own.disabled = false;
              own.innerHTML = "Submit";

            return;
          }
          sec -= 1;
          window.setTimeout(countDown, 1000);
        }
    </script>


    {% if round == 1 %}

        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" align="center">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header" >
                        <h4 class='col-12 modal-title text-center'>
                            Moving to the Actual Simulation </h4>
                    </div>
                    <div class="modal-body">
                        <p>The actual simulation is starting now.
                            You will make order quantity decision every day for the next {{ last_round }} simulation days.
                            <br>
                            <div style="margin-top:20px;font-weight: 650 ">From now on, every decision you make will have an effect on your final result.</div>
                        </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary btn-small" onclick="closeModal()"
                              data-dismiss="modal" value="True">Start</button>
                             </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function(){
                $("#myModal").modal({
                    focus:false,
                    backdrop: 'static'});
                $("#myModal").modal('show');

            });

            function closeModal(){
            $('#myModal').modal('hide');}
        </script>

        <style>
            .modal-dialog {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) !important;
            }
        </style>


    {% else %}

        {% if round == simulation_rounds1 and not_baseline %}
            <div class="modal hide fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" align="center">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" >
                            <h4 class='col-12 modal-title text-center'>
                                The BakerAI trial period has ended </h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                <div style="margin-top:20px;font-weight: 600; font-size: 14pt ">From now on, you will not be receiving any recommendation from BakerAI software.</div>
                            </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary btn-small" onclick="closeModal()"
                                  data-dismiss="modal" value="True">Continue</button>
                        </div>
                    </div>
                </div>
            </div>


            <script>
                $(document).ready(function(){
                    $("#myModal").modal({
                        focus:false,
                        backdrop: 'static'})
                    $("#myModal").modal('show');

                });

                function closeModal(){
                $('#myModal').modal('hide');}
            </script>

            <style>
                .modal-dialog {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) !important;
                }
            </style>
        {% endif %}

    <div style="text-align: center;padding-top: 20px;"><h3>Your Performance History</h3></div>
    <div class="container mt-4" style="text-align: center; font-weight:bold; font-size: 14pt; margin-bottom: 10px">
        Your Cumulative profit: {{ cum_profit |c }}
        <!--
        {% if round > wo_ai_rounds and round <= simulation_rounds and is_performance %}
        <br>
        BakerAI's cumulative profit: {{ ai_profit_cum |c }}
        {% endif %}
        -->
    </div>

          <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6"; style="margin-bottom: 25px">
                {% if is_performance and round > wo_ai_rounds1 and round <= simulation_rounds %}
                  <div class="text-center" style="padding-bottom:0px; font-size: 14pt;font-weight: 500; border:2px solid;
                  border-color:#5cb85c">
                      If you have followed BakerAI's recommendation every day,<br> your cumulative profit would have been: <strong>{{ ai_profit_cum |c }} </strong></div>
              </div>
        {% endif %}
          </div>

            <div class="container">
                 <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr valign="bottom" align="center">
                             <td><br>Day </td>

                                {% if round > wo_ai_rounds1 and not_baseline%}
                                <td style="color:gray; border-right: 0px solid">BakerAI's<br>Advice</td>
                                {% endif %}
                                <td>Actual<br>Demand</td>
                                <td style="font-weight: 500; ">Amount<br>Ordered</td>
                                <!--<td>Actual Demand and <br> Order Mismatch </td>-->
                                <td style="color:darkgreen">Amount<br>Sold</td>
                                <td style="color:darkred">Amount <br> Leftover</td>
                                <td>Your<br>Profit</td>
                                <!--
                                {% if round > wo_ai_rounds and is_performance %}
                                <td>BakerAI's <br>Profit</td>
                                {% endif %}
                                -->
                            </tr>
                            {% for p in player_in_prev_rounds %}
                        <tr align="center">
                            <td>{{ p.round_number }}</td>
                            {% if round > wo_ai_rounds1 and not_baseline %}
                            <td style="color:gray;border-right: 0px solid">{{ p.ai_text }}</td>
                            {% endif %}
                            <td>{{ p.demand }} loaves </td>
                            <td style="font-weight: 500">{{ p.orderquantity2 }} loaves</td>
                            <!--<td> {{p.demand_quantity_dif}} loaves</td>-->
                            <td>{{ p.sales }} loaves</td>
                            <td>{{ p.leftover }} loaves</td>
                            {% if p.profit > 0 %}
                            <td style="color:darkgreen">{{ p.profit | c }}</td>
                            {% else %}
                            {% if p.profit < 0 %}
                            <td style="color:darkred">{{ p.profit | c }}</td>
                            {% else %}
                             <td>{{ p.profit | c }}</td>
                            {% endif %}
                            {% endif %}
                            <!--
                            {% if p.profit > p.ai_profit_round and is_performance %}
                                {% if p.round_number > wo_ai_rounds %}
                                <td style="color:darkgreen">{{ p.profit | c }}</td>
                                {% else %}

                                {% endif %}
                            {% else %}
                                <td >{{ p.profit | c }}</td>
                            {% endif %}

                            {% if round > wo_ai_rounds and is_performance %}
                            {% if p.round_number > wo_ai_rounds %}
                                {% if p.profit < p.ai_profit_round %}
                                <td style="color:darkgreen">{{ p.ai_profit_round | c}}</td>
                                {% else %}
                                <td>{{ p.ai_profit_round | c}}</td>
                                {% endif %}
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                            {% endif %}
                            -->
                        </tr>
                            {% endfor %}
                        </table>
                    </div>
                 </div>
            </div>

    {% endif %}

    </div>

{% endblock %}


