{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<style>
    .otree-timer {
        display: initial;
    }
</style>

    <div class="text-center mb-1" style="font-size:22pt; font-weight:bold"> Order for Day {{ round }} (out of {{ last_round }} Days) </div>

    {% include Constants.instructions_template_a2 %}


      <div class="card p-3">
      <h5 style="text-align:center">Business Parameters:</h5>
        <div style="font-size:13pt; text-align: center">Unit selling price (The amount your customers pay you per loaf): &nbsp; <b>{{ Constants.sale_price | c }} </b>
        </div>

        <div style="font-size:13pt; text-align:center">&nbsp;Unit purchase cost (The amount you pay your supplier per loaf): &nbsp; <b> {{ Constants.cost | c  }}  </b>
        </div>
      </div>


    <div class="container mt-1">
        <div class="row justify-content-center" style="padding-bottom:10px">
            <div class="text-center" style="margin-top:30px" > You can either keep your decided order quantity (on the left) or you can choose BakerAI's advice (on the right): </div>

        </div>
        <div class="row justify-content-center mt-3" style="padding-bottom:30px">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="text-left" style="margin-left:10px" id="iwlto"> You decided to order:</div>
                <div class="input-group-append">
                  <input type="integer" class="form-control"  placeholder="{{ oq_now }} loaves"
                         aria-label="order_label" id="orderquantity" disabled>

                    <button class="otree-btn-next btn btn-primary" onclick="enter_q2_q1()">Order</button>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <div class="text-center" style="margin-top:30px ; font-weight: bold; font-size: 14pt" > OR </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="text-left" style="margin-left:10px" > BakerAI's advice:</div>
                <div class="input-group-append">
                  <input type="integer" class="form-control" placeholder="{{ ai_recommendation }} loaves"
                         aria-label="order_label" id="ai_orderquantity" disabled>

                    <button class="otree-btn-next btn btn-primary"  onclick="enter_q2_ai()">Order</button>
                </div>
            </div>
        </div>



<!--

        <div class="row justify-content-center" id="ai_rec_line">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="text-center" style="padding-bottom: 0px;font-size: 14pt;font-weight: 500; border:2px solid;
             border-color:#5cb85c" >
                BakerAI recommends you to order: <br> <strong>{{ ai_recommendation }} loaves </strong></div>
            </div>
        </div>

        <div class="row justify-content-center mt-3" style="padding-bottom:30px;" id="ai_block">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: center">
                <div class="text-center" style="margin-top:30px; font-size: 14pt" > Please choose one of the options below:</div>
            </div>
        </div>
        <div class="row justify-content-center mt-1" style="padding-bottom:20px;" id="ai_block_buttons">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
                <button class="otree-btn-next btn btn-primary"  onclick="enter_q2_q1()">I would like to order {{ oq_now }} loaves</button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
                <button class="otree-btn-next btn btn-primary"  onclick="enter_q2_ai()">I would like to order {{ ai_recommendation }} loaves </button>
            </div>
        </div>
        -->
        <input type="hidden" id="orderquantity2" name="orderquantity2">
                    {% if form.orderquantity2.errors %}
                         <div class="text" style="color:red"> Please enter an integer value between [0-800].</div>
                    {% endif %}
    </div>

    <hr>


{% block scripts %}


    <script>
        var sec = {{ Constants.wait_game }};
        var own = document.getElementById("order_button");

        window.onload = countDown;

        function countDown() {
          if (sec < 100) {
              own.innerHTML = "Submit (" + sec + " sec)";
          }
          else {
              own.innerHTML = "Submit";
          }
          if (sec <= 0) {

              own.disabled = false;
              own.innerHTML = "Submit";

            return;
          }
          sec -= 1;
          window.setTimeout(countDown, 1000);
        }
    </script>

    <script>

        function enter_q2_ai(){
            document.getElementById("orderquantity2").value = Number({{ ai_recommendation }})
        }
    </script>

    <script>
        function enter_q2_q1(){
            document.getElementById("orderquantity2").value = Number({{ oq_now }})
        }
    </script>


{% endblock %}

<div style="text-align: center;padding-top: 20px;"><h3>Your Performance History</h3></div>
    <div class="container mt-4" style="text-align: center; font-weight:bold; font-size: 14pt; margin-bottom: 10px">
        Your Cumulative profit: {{ cum_profit |c }}
        <!--
        {% if round > wo_ai_rounds and round <= simulation_rounds and is_performance %}
        <br>
        BakerAI's cumulative profit: {{ ai_profit_cum |c }}
        {% endif %}
        -->
    </div>

<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6"; style="margin-bottom: 25px">
        {% if is_performance and round > wo_ai_rounds1 and round <= simulation_rounds %}
        <div class="text-center" style="padding-bottom:0px ;font-size: 14pt;font-weight: 500; border:2px solid; border-color:#5cb85c" >
        If you have followed BakerAI's recommendation every day,<br> your cumulative profit would have been: <strong>{{ ai_profit_cum |c }} </strong></div>
    </div>
    {% endif %}
</div>

         <div class="container">
                 <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr valign="bottom" align="center">
                             <td><br>Day </td>

                                {% if round > wo_ai_rounds1  %}
                                <td style="color:gray; border-right: 0px solid">BakerAI's<br>Advice</td>
                                {% endif %}
                                <td>Actual<br>Demand</td>
                                <td style="font-weight: 500; ">Amount<br>Ordered</td>
                                <!--<td>Actual Demand and <br> Order Mismatch </td>-->
                                <td style="color:darkgreen">Amount<br>Sold</td>
                                <td style="color:darkred">Amount <br> Leftover</td>
                                <td>Your<br>Profit</td>
                                <!--
                                {% if round > wo_ai_rounds and is_performance %}
                                <td>BakerAI's <br>Profit</td>
                                {% endif %}
                                -->
                            </tr>
                            {% for p in player_in_prev_rounds %}
                        <tr align="center">
                            <td>{{ p.round_number }}</td>
                            {% if round > wo_ai_rounds1 %}
                            <td style="color:gray;border-right: 0px solid">{{ p.ai_text }}</td>
                            {% endif %}
                            <td>{{ p.demand }} loaves </td>
                            <td style="font-weight: 500">{{ p.orderquantity2 }} loaves</td>
                            <!--<td>{{p.demand_quantity_dif}} loaves </td>-->
                            <td>{{ p.sales }} loaves</td>
                            <td>{{ p.leftover }} loaves</td>
                            {% if p.profit > 0 %}
                            <td style="color:darkgreen">{{ p.profit | c }}</td>
                            {% else %}
                            {% if p.profit < 0 %}
                            <td style="color:darkred">{{ p.profit | c }}</td>
                            {% else %}
                             <td>{{ p.profit | c }}</td>
                            {% endif %}
                            {% endif %}
                            <!--
                            {% if p.profit > p.ai_profit_round and is_performance %}
                                {% if p.round_number > wo_ai_rounds %}
                                <td style="color:darkgreen">{{ p.profit | c }}</td>
                                {% else %}

                                {% endif %}
                            {% else %}
                                <td >{{ p.profit | c }}</td>
                            {% endif %}

                            {% if round > wo_ai_rounds and is_performance%}
                            {% if p.round_number > wo_ai_rounds %}
                                {% if p.profit < p.ai_profit_round %}
                                <td style="color:darkgreen">{{ p.ai_profit_round | c}}</td>
                                {% else %}
                                <td>{{ p.ai_profit_round | c}}</td>
                                {% endif %}
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                            {% endif %}
                            -->
                        </tr>
                            {% endfor %}
                        </table>
                    </div>
                 </div>
            </div>



{% endblock %}

