{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <div style="text-align: center;"> Payment Information Page </div>
{% endblock %}

{% block content %}
    <div style="text-align: center; font-size: 13pt; margin-top: 60px">
        <p> Thank you for your participation. </p>
    </div>


    {% if cum_profit < 0 %}
        <div style="text-align: center; font-size: 13pt">
            <div>You have <span style="color:darkred;font-weight:600">lost  {{ abs_profit }} </span>  (experimental dollars) during the experiment.</div><br>
            <div style="text-align:center; ">You will be paid {{ participation_pay }} for the completing the simulation.
            <br>However, you will not get any performance based additional payment due to the cumulative loss in the simulation.
            </div>
            <br>
            <div style="text-align:center; font-weight:bold">In total, you will be paid {{ participation_pay }}.
            </div>
        </div>
    {%  else %}
        <div style="text-align: center;">
            <div>You have <span style="color:darkgreen;font-weight:600">made {{ cum_profit }} </span>(experimental dollars) of profit during the experiment.</div><br>
            <div class="container" style="text-align:center;">The conversion of your simulation profit to USD is {{ payment }}</div>
            <div> Additionally, you will be paid {{ participation_pay }} for completing the simulation.</div>
        <br>
            <div style="text-align:center; font-weight:bold"> In total, you will be paid {{ full_payment }}</div>
        </div>
    {% endif %}

    <div class="text mt-4" style="text-align: center;font-size: 15pt"> Your completion code : {{ code }}</div>


    <div class="text mt-4" style="text-align: center;font-size: 13pt">Please do not forget to enter your completion code.</div>
    <div class="text mb-4" style="text-align: center;font-size: 13pt">Thank you for your participation.</div>







{% endblock %}
