{% load otree static %}

    <span class="card bg-light p-3">
        <p>
            You will receive recommendations from BakerAI on how many loaves of bread to order for the next day.
            It is important to understand how BakerAI works when you decide whether to follow its recommendation or not.
            Therefore, we would like to spend a couple minutes to explain the dynamics of BakerAI's recommendation below.
        </p>

        {% if treatment == 'full' || treatment == 'partialc'%}
            <hr>
            <p style="padding-top:0px ">
                <span>
                    BakerAI's algorithm does not have enough information about your demand distribution, thus it cannot precisely predict
                    the demand for the next day. However, it chooses the best order quantity by factoring two important elements:</span>
                    <ol><span style="font-weight: 600" >
                        <li>Exploring your demand distribution by either increasing or decreasing its previous recommended order quantity</li>
                        <li>Maximizing your profit by balancing the expected cost of ordering either too many,
                    or too few loaves of bread</li></span>
                    </ol>
                <span>
                    BakerAI will get better at maximizing your cumulative profit,
                    if you follow its recommendation every day.
                </span>
            </p>
            <hr>
        {% endif %}
        {% if treatment == 'full' || treatment == 'partial' %}
            <p><div style="text-align: center;"><u><strong>How BakerAI software works:</strong></u><br></div></p>

            <div class="row justify-content-center">
                <div class="col-xs-6">
                    <p><strong>If you were sold-out:</strong><br>
                    Let's assume that in the evening of Day 6, you ordered 100 loaves to sell on Day 7. You sold all
                        of 100 loaves of bread you ordered on Day 7.

                        <!--
                    <i>The reason is that there is a high chance that you could have sold more and have made more profit.</i>-->
                    </p>
                    <table class="table table-bordered table-hover table-condensed mx-auto my-3" style="width: 430px">
                        <thead>
                        <tr align="center">
                            <th scope="col" style="vertical-align:center">Day</th>
                            <th scope="col" style="vertical-align:center">BakerAI's <br> Advice</th>
                            <th scope="col"> Actual <br> Demand</th>
                            <th scope="col" style="color:darkgreen">Amount <br> sold</th>
                            <th scope="col" style="color:darkred">Amount <br> leftover</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="center">
                            <td>7</td>
                            <td>100 loaves</td>
                            <td> 200 loaves </td>
                            <td>100 loaves</td>
                            <td> 0 loaves</td>
                        </tr>
                        </tbody>
                    </table>
                    Because you were sold out, the A.I. will suggest you to order more for the next day (for Day 8).
                    Statistical modeling
                </div>
            </div>
            <div class="row justify-content-center pt-4">
                <div class="col-xs-6"  >
                    <p> <strong>If you had some leftovers:</strong><br>
                        On Day 7, you ordered 100 loaves and you were sold-out.
                        In the evening of Day 7, BakerAI recommends you to order 150 loaves (instead of 100 loaves) for Day 8.
                        On Day 8, you didn't have that much demand for the bread and you could only sell 40 loaves.

                        <!--<i>in order to decrease the number of loaves wasted.</i></p>-->

                    <table class="table table-bordered table-hover table-condensed mx-auto my-3" style="width: 430px">
                        <thead>
                        <tr align="center">
                            <th scope="col" style="vertical-align:center">Day</th>
                            <th scope="col" style="vertical-align:center">BakerAI's <br> Advice</th>
                            <th scope="col"> Actual <br> Demand</th>
                            <th scope="col" style="color:darkgreen">Amount <br> sold</th>
                            <th scope="col" style="color:darkred">Amount <br> leftover</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="center">
                            <td>7</td>
                            <td>130 loaves</td>
                            <td>40 loaves </td>
                            <td>40 loaves</td>
                            <td> 90 loaves</td>
                        </tr>
                        </tbody>
                    </table>
                    Because you had some leftovers, BakerAI will recommend you to order less than 150 loaves for Day 9.
                    <div style="margin-top: 20px"> The exact order quantity amount will be determined by BakerAI software.

                    </div>
                </div>
            </div>
        {% endif %}
    </span>




