{% load otree static %}

    <span class="card bg-light p-3">
        <p>
            You will receive recommendations from BakerAI on how many loaves of bread to order for the next day.
            It is important to understand how BakerAI works when you decide whether to follow its recommendation or not.
            Therefore, we would like to spend a couple minutes to explain the dynamics of BakerAI's recommendation below.
        </p>

        {% if treatment == 'full' or treatment == 'partialc'%}
            <hr>
        <h5><u> Capabilities of BakerAI </u></h5>
            <p style="padding-top:10px ">
                <span>
                    BakerAI's algorithm does not have enough information about your demand distribution, thus it cannot precisely predict
                    the demand for the next day. However, it chooses the best order quantity by factoring two important elements:</span>
                    <ol><span style="font-weight: 600" >
                        <li>Exploring your demand distribution by either increasing or decreasing its previous recommended order quantity</li>
                        <li>Maximizing your cumulative profit by balancing the expected cost of ordering either too many,
                    or too few loaves of bread</li></span>
                    </ol>
                <span>
                    BakerAI will get better at maximizing your cumulative profit,
                    if you follow its recommendation every day.
                </span>
            </p>

        {% endif %}
        {% if treatment == 'full' or treatment == 'partial' %}
        <hr>
        <h5 style="padding-bottom: 10px"><u>How BakerAI makes its recommendations</u><br></h5>

        <div class="row justify-content-center">
            <div class="col-xs-6">
                <p><strong>When BakerAI recommends less than actual demand:</strong><br>
                Let's assume that in the evening of Day 6, BakerAI recommended 100 loaves to sell on Day 7.
                    However, the actual demand on Day 7 was 200 loaves .

                    <!--
                <i>The reason is that there is a high chance that you could have sold more and have made more profit.</i>-->
                </p>
                <table class="table table-bordered table-hover table-condensed mx-auto my-3" style="width: 430px">
                    <thead>
                    <tr align="center">
                        <th scope="col" style="vertical-align:center">Day</th>
                        <th scope="col" style="vertical-align:center">BakerAI's <br> Advice</th>
                        <th scope="col"> Actual <br> Demand</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center">
                        <td>7</td>
                        <td>100 loaves</td>
                        <td> 200 loaves </td>
                    </tr>
                    </tbody>
                </table>
                In this case, BakerAI will increase its recommendation for the next day (for Day 8).
                The increase amount is calculated using a sophisticated statistical model.

            </div>
        </div>
        <div class="row justify-content-center pt-4">
            <div class="col-xs-6"  >
                <p> <strong>When BakerAI recommends more than actual demand:</strong><br>
                    For Day 7, BakerAI recommended 100 loaves to order and the actual demand was 200 loaves.<br>
                    Now for Day 8, BakerAI adjusts its recommendation based on the demand realization and recommends 130 loaves (instead of 100 loaves).


                    <!--<i>in order to decrease the number of loaves wasted.</i></p>-->

                <table class="table table-bordered table-hover table-condensed mx-auto my-3" style="width: 430px">
                    <thead>
                    <tr align="center">
                        <th scope="col" style="vertical-align:center">Day</th>
                        <th scope="col" style="vertical-align:center">BakerAI's <br> Advice</th>
                        <th scope="col"> Actual <br> Demand</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center">
                        <td>8</td>
                        <td>130 loaves</td>
                        <td> 40 loaves </td>
                    </tr>
                    </tbody>
                </table>
                On Day 8, you didn't have that much demand for the bread.
                Because BakerAI recommended more than the actual demand, it will decrease its previous recommended
                amount (will recommend less than 130 loaves) using a sophisticated statistical model for Day 9.

                </div>
            </div>
        </div>
        <div class="container mt-2" style="text-align:center"> On the next page, your understanding of how BakerAI software works will be tested. </div>
        {% endif %}
    </span>




