{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<!-- From bucinca 2021 -->
    <div style="text-align: center;margin-bottom: 60px"> <h3> Please provide feedback to SmartBaker Company </h3></div>



<p style="font-weight: 600; font-size: large">What information did you use when you were making the order quantity decisions? Select all that apply.</p>
{{ for field in Constants.comment_t1 }}

    <div class="form-check" style="padding-left: 50px">
        <input type="checkbox" class="form-check-input" id="{{field.name}}" name={{field.name}} value="1">
        <label class="col-form-label-md">{{field.label}}</label>
    </div>
<br>
{{ endfor }}

    <div class="form-check" style="padding-left: 50px">
      <label>
          <input type="checkbox" class="form-check-input"> <span>Other</span>
          <input type="text" placeholder="" class="form-control" name="c_other" id="c_other" />
      </label>
    </div>
<div style="padding-bottom: 50px"></div>

<center> {% next_button %} </center>


<style>
    m { margin:20px}
    m {padding-bottom: 20px}
</style>





{% endblock %}
