{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otree static %}


{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- From bucinca 2021 -->
    <div style="text-align: center;margin-bottom: 60px"> <h3> Please provide feedback to SmartBaker Company </h3></div>


        <table id="likert">
        <tr>
        <th></th>
        <th width="10%"  > Strongly disagree</th>
        <th width="10%" > Disagree</th>
        <th width="10%" > Neutral</th>
        <th width="10%" > Agree</th>
        <th width="10%" > Strongly agree</th>
        </tr>
        {{for field in form }}
        {% if field.name == 'c_why' %}
        {% else %}
        <td style="text-align: left; padding-top: 20px">{{ field.label }}</td>
        {{for choice in field}}
                <th style="text-align: center">{{choice}}</th>
         {{endfor}}
        </tr>
        {% endif %}
        {{endfor}}
        </table>

        <p></p>
        <div class="dropdown-divider"></div>
        <div class="container-sm" style="width: 600px; padding-top: 30px">

        {{formfield player.c_why}}
        </div>

<div style="padding-bottom: 75px"></div>

<center>{{next_button}}</center>


<!--
        <div class="modal" id="myModalAI"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" align="left">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header" >
                        <h4 class='col-12 modal-title text-center' id="staticBackdropLabel">
                            Explaining how BakerAI works</h4>
                    </div>
                    <div class="modal-body">
                        {{formfield player.c_why}}
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary btn-small"
                              data-dismiss="modal" value="True">Submit</button>
                             </div>
                </div>
            </div>
        </div>

        <center><div class="row justify-content-center" style="padding-top: 30px;">
                    <div class="col">
                            <input class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModalAI" value="Next" >
                    </div>
                </div></center>

            <script>
                $(document).ready(function(){
                    $("#myModal").modal({
                        focus:false,
                        backdrop: 'static'})
                    $("#myModal").modal('show');

                });

                function closeModal(){
                $('#myModal').modal('hide');}
            </script>

            <style>
                .modal-dialog {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) !important;
                }
            </style>

-->










{% endblock %}
